p {
    margin: 0px;
}
.ambitious-header {
    width: 50%;
    margin: auto;
    padding: 8px 16px;
    background: #A5A5A5;
    font: #262626;
    text-align: center;
}
.main-container {
    width: 90%;
    margin: auto;
}
.juicy-content {
    display: flex;
    text-align: center;
}

.juicy-content div {
    background: #A5A5A5 ;
    margin: 10px;
    padding: 10px;
}

.footer-gray {
    background: #A5A5A5;
    display: flex;
    padding: 10px;
}

.footer-gray .box {
    background: grey;
    margin: 10px 5px;
    padding: 10px;
}

@media only screen and (max-width: 650px) {
    .main-container {
        display: none;
        background: red;
    }
}

/* css grid*/
/* css flexbox grow shrink basis*/