.mtxl { margin-top: 80px; }
.mtl { margin-top: 40px; }
.mtm { margin-top: 20px; }
.mts { margin-top: 10px; }

.mbxl { margin-bottom: 80px; }
.mbl { margin-bottom: 40px; }
.mbm { margin-bottom: 20px; }
.mbs { margin-bottom: 10px; }